<div id="<%= dom_id article %>">
  <p>
    <b>Author:</b>
    <%= article.author&.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= article.text %>
  </p>

</div>
